@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 20px;
  font-family: "Poppins";
  background: #d1dedd;
}
ul,
li {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3 {
  color: #767f7e;
}
p {
  color: #828b8a;
}
/*--------------------------------------------------*/
img {
  aspect-ratio: 16 / 8;
}
h1 {
  text-align: center;
  width: 100%;
  display: block;
}
.grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 60px;
}
.grid > article:nth-child(1) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50vh;
  gap: 60px;
  justify-items: center;
  align-items: center;
}
.img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}
/* card article section */
.card-articale {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card-img {
  width: 100%;
  border: 4px solid #fff;
  border-radius: 8px;
}
